.product-card {
    max-width: 150px;
    transition: transform .2s;
}
  
.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px 20px;
    justify-content: center;
    padding: 20px;
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}