<div class="container-sm">
    <h1>Your Cart</h1>
    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let product of productsInCart">
                <span matListItemTitle>{{ product.name }}</span>
                <span matListItemLine>{{ product.price | currency:'INR' }}</span>
            </mat-list-item>

            <mat-list-item>
                <span class="price" matListItemTitle>Total (INR): </span>
                <span class="price" matListItemLine>{{ totalPrice | currency:'INR' }}</span>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>